/* Crédit card section or débit card */

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  /* Product Style */

  .product-style{
    display: table;
  }

  /* Slider Style */

  .img-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 60% !important;
    height: auto;
    margin-left: 25%;
}

/* Breadcrumbs Style */

h1#bread-style, #bread-title{
  color: #000!important;
}

#breadactive-title, #arrow-right{
  color: #FF971D;
}

.bread-style:hover{
  text-shadow: 3px 5px 2px #474747;
}

/* Input Style */
#input-style {
    position: relative!important;
    left: 0;
}

/* Pagination */
ul.pagination {
  color: #828bb3;
}

.pagination{
  margin-top: 0px!important;
  border-left: 0px solid #828bb3!important;
}

#pagination-style{
  padding: 0px 0px 0px 0px!important;
  padding-right: 2%!important;
  height: 60px;
  margin-top: 0px!important;
}

/* Dropdown menu show */
div.dropdown-menu.show{
 transform: translate3d(0px, 35px, 0px)!important; 
}

#dropwdown-style{
    padding: 0px 0px 0px 0px!important;
    padding-left: 2%!important;
}

/* Message Area */
.message_area{
  padding-top: 50px;
}

/* MEDIA QUERIES */
@media (max-width:992px) {
  .breadcrumb-style.h1{
    color: red!important;
    padding-left: 0%!important;
    margin-left: 0%!important;
    text-align: center;
  }
  div.col-first{
    padding-right: 0!important;
  }

  #marginl-media
  {
    margin-left: 0!important;
  }

  #marginr-media{
    margin-right: 0;
  }
}

